.classify
  padding-top 20px
  min-height 'calc(100vh - %s - %s)' % ($headerHeight $footerHeight)
.title
  text-align center
  font-size 22px
  margin-bottom 20px
.tags, .categorys
  display flex
  justify-content center
  padding-bottom 50px
  flex-wrap wrap