.tabs
  display flex
  justify-content space-between
  align-items center
  font-size 14px
  .tab
    padding 5px 8px
    margin-right 5px
    border-radius 5px
    color $color-main
    background-color $color-bg-grey
    cursor pointer
    transition all 0.5s
    &:hover
      color white
      background-color $color-main