.category
  font-size 16px
  margin 5px
  padding 5px 15px
  cursor pointer
  transition all 0.3s
  color $color-light-grey
  hover-underline-animation(0, 0, 2px, #262a30, 0, 0, 0, 0)
  &:hover
    hover-underline-animation(0, 0, 2px, #262a30, 0, 0, 0, 100%)