.article-info
  // display flex
  // align-items center
  // justify-content center
  font-size 14px
  margin 20px 0
  color $color-mid-grey
  @media (max-width: 768px)
    font-size 12px
  .article-category
    cursor pointer
    border-bottom 1px solid $color-main
    color $color-mid-grey
    margin-right 10px
  span
    margin-right 10px