.headerLayout
  background-color $color-bg-grey
.header-warp
  display flex
  justify-content space-between
  align-items center
  height $headerHeight
  line-height normal
  width 100%
  background-color $color-bg-grey