.article-menu
  text-align left
  font-size 14px
  line-height 20px
  color $color-light-grey
  font-weight bold
  li
    list-style none
    .active
      color white
      transition all 0.3s
  span
    display inline-block
    border-bottom 1px solid #555
    cursor pointer
    &:hover
      color white
      transition all 0.3s
  .article-menu
    margin-left 10px