.myName
  position relative
  font-size 20px
  font-weight bold
  color $color-main
  cursor pointer
  &:hover
    color $color-main
.hover-underline-animation
  hover-underline-animation(70%, 70%, 2px, #262a30, -8px, -8px)