.card
  box-shadow 0 0 5px 0 rgba($color-main, 0.1)
  padding 20px
.article-title
  font-size 22px
  color $color-main
  cursor pointer
  @media (max-width: 768px)
    font-size 18px
.article-dec
  font-size 16px
  color $color-mid-grey
  border-left 2px solid $color-mid-grey
  padding-left 5px
  @media (max-width: 768px)
    font-size 14px
.acticle-tags
  display flex
  flex-wrap wrap
  padding 20px 0 10px
  margin-bottom 10px
  border-bottom 1px solid $color-line
  .tag
    font-size 12px
    padding 5px 10px
    margin-right 5px
    border-radius 25px 5px
    color white
    background-color $color-main
    transition all 0.3s
    cursor pointer
    &:hover
      background-color rgba($color-main, 0.8)
>>>.iconfont
  font-size 12px
  margin-right 4px