.footerLayout
  background-color $color-main
  font-size 13px
  color $color-light-grey
  .footer-warp
    display flex
    flex-direction column
    justify-content center
    height $footerHeight
  p
    padding 4px 0
    a
      color $color-light-grey
      text-decoration underline